h2 {
    background-color: rgb(139, 0, 97);
    color: wheat;
    opacity: 50%;

}
h3 {
    color: rgb(90, 50, 94);
}
table, th, td {
    border:5px solid rgb(121, 79, 107);
    color: rgb(88, 53, 73);
  }